
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 


body{
    font-family: "Inter", sans-serif;
}

.navber .container{
  width: 70%;
  display: flex;
 margin: 0 auto;
 align-items: center;
 justify-content: space-between;
 padding: 16px;
}



.navber .container .menu ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.navber .container .menu ul li{
    font-size: 16px;
}



.navber .container .btn{
    background-color: #469165;
    
    padding: 12px 16px;
    border-radius: 4px;
    

}
.navber .container .btn a{
color: #FFFFFF;
text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 20;
}

.btn a:hover{
    background-color: #06b14d;
    color: #fff;
    box-shadow: 0 10px 25px rgba(8, 202, 89, 0.4); 
}

/* hero section start */

.hero{
    display: flex;
    height: 674px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
  
}
.hero-content {
    
    max-width: 100%;
    
}


.hero-content .badge{
    display: inline-block;
    color: #469165;
    background-color: #FFFFFF;
    border-radius: 999px;
    padding: 4px 10px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    border: none;
   
}

.hero-content h1{
    color: #FFFFFF;
    font-size: 72px;
    margin-bottom: 20px;
   
}

.hero-content h1 span{
    color: #30B868;
}

.hero-content p{
    font-size: 17px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 10px;

}

.hero-content .hero-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
   margin-top: 32px;
}
    
.hero-content .hero-btn  .btn-first{
    background-color: #469165 ;
      padding: 16px 16px;
    text-decoration: none;
    border-radius: 8px;
    color: #FFFFFF;
}
.btn-first:hover{
    background-color: #08ca59;
    color: #fff;
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(8, 202, 89, 0.4);
}
   
.hero-content .hero-btn .btn-second{
     background-color: transparent ;
      padding: 12px 16px;
    text-decoration: none;
    border-radius: 8px;
    color: #FFFFFF;
    border: 1px solid white;
   margin-top: 2px;  
}
.btn-second:hover{
    background-color: #ffffff;
    color: #001931;
    transform: translateY(-4px);
    box-shadow: 0 80px 80px rgba(0, 0, 0, 0.15);
}

   /* hero section end */

   /* card section start */
  

.card-on{
 height: 448px;
 background-color: #FFFFFF;
 text-align: center;
 padding: 0 120px 0 120px;
 margin-top: 30px;
 
 
}

.card-on h1{
    font-size: 48px;
    font-weight: bold;
    margin-top: 30px;
    color: #001931;
}

.card-on .subtitle {
    font-size: 16px;
    color: #627382;
    margin-top: 10px;

}

.cards{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 25px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.cards .card{
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
    margin-top: 40px;
    width: 330px;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 40px; 
    height: 40px;
    background-color: #F95555;
    color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto ;
    margin-bottom: 10px;

}

.card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 15px;
    

}

.card p{
    font-size: 16px;
    color:#627382;
}


/* madia section start */

.container-madia{
   width: 70%;
   height: 600px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   padding-top: 80px;
    
}
.text-contant {
   
    padding-left: 60px;
}
    
.text-contant .first-text {
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
    font-weight: bold;
}

.text-contant h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
    
}

.text-contant .seacond-text{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.text-contant ul{
    list-style-type: none;
    margin-bottom: 20px;
}

.text-contant ul li{
   padding: 6px;
   font-size: 16px;
   line-height: 20px;
   color: #001931;
   gap: 6px;
   
}

.text-contant ul li i{
    color: #08ca59;
    padding-right: 5px;
}


/* <!-- early access section start --> */

.early-access{
    
   
    padding: 120px 0;

    
}

.access-container{
    text-align: center;
   
   
}

.access-container h1{

    color: #001931;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;


}

.access-container .access-one{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}

.access-container .btn-access {
     background-color: #469165 ;
      padding: 12px 16px;
    text-decoration: none;
    border-radius: 8px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.btn-access:hover{
    background-color: #077936be;
    color: #fff;
    box-shadow: 0 10px 25px rgba(4, 238, 101, 0.74);
}


.access-container .access-two{
    margin-top: 30px;
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

.access-container a i{
   margin-left: 5px;
}

/* footar section start*/

.social-kv{
    background-color: #001931;
       padding: 0 100px;
    padding-top: 120px;
   
 
    
    
   
}

.footer-container{
    display: flex;
    justify-content: space-between;
     padding-bottom: 50px;
       
}
.social-area .social-link{
font-size: 20px;
line-height: 28px;
color: #ffffffc4;

}



.social-area .icons-ig{
padding-top: 9px;
padding-left: 20px;
}
.social-area .icons-ig i{
    background-color: #ffffffbb;
    color: black;
    border-radius: 500px;
    
    
}


.footer-bottom p{
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.274);
    color: #fafafac5;
}


/* footer end */